@import "reset";

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100vw;
    border-bottom: 2px solid #c7c7c7;
    &__logo {
        height: 25px;
        padding-left: 35px;

    }
    &__cart-button{
        padding-right: 25px;
        
    }
}
